@use "../base/variables";
@use "../utils/mixins" as *;

.home {
    min-height: 100vh;
}

//  Banner 
.banner__img {
    width: 100%;
    height: 65vh;
    background-size: cover !important;
}

.swiper-scrollbar-drag {
    background: variables.$base-color;
}


// Products Container 
.products-container {
    margin: 3em 0;
}

.products-container__title {
    font-size: 2rem;
}

.products-container__title {
    @include text-underline();
}

.products-wrap {
    padding-bottom: 3rem;
    position: relative;
}

.product--swiper {
    position: static;
}